.search {
  margin-bottom: 30px;
  text-align: right;
  &__form {
    position: relative;

    & input {
      height: 38px;
      width: 290px;
      position: relative;
      max-width: 605px;
      font-size: 19px;
      font-weight: 300;
      background: #fff;
      border: 0;
      border-bottom: 4px solid #f6cc49;
    }
    & button {
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 0 4px;
      line-height: 0;
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
    }
  }
}