.back-img {
    position: absolute;
    z-index: 0;

    &_left {left: 0;}
    &_right {right: 0}

    &__cheese {
        top: -246px;
        right: -183px;
        width: 593px;
        height: 459px;
        background: url("../images/slack/cheese.png") no-repeat;
    }
    &__tomato {
        top: -158px;
        left: -387px;
        width: 673px;
        height: 680px;
        background: url("../images/slack/tomato.png") no-repeat;
    }
    &__maslo {
        left: -125px;
        bottom: -105px;
        width: 424px;
        height: 358px;
        background: url("../images/slack/maslo.png") no-repeat;
        @include media(xl) {
            display: none;
        }
    }
    &__cheese-and-tomato {
        top: -275px;
        left: -230px;
        width: 573px;
        height: 586px;
        background: url("../images/slack/cheese_and_tomato.png") no-repeat;
    }
    &__petro {
        width: 468px;
        height: 397px;
        bottom: -180px;
        background: url("../images/slack/petro.png") no-repeat;
    }
    &__petro {
        &_left {
            left: -230px;
        }
        &_left-2 {
            left: -230px;
            transform: rotate(30deg);
        }
        &_right {
            right: -230px;
        }
        &_right-2 {
            right: -230px;
            transform: rotate(-30deg);
        }
    }

    @include media-custom(1400) {
        opacity: 0.6
    }
}