.product-use-carousel {
    &__carousel {
        &__item {
            width: 288px;
            height: 126px;
            border-radius: 10px;
            background-color: #ffffff;
        }
    }

}
