.product-use-carousel {
    margin-top: 50px;

    &_margin-bottom {
        margin-bottom: 90px;
    }
    &__wrap {
        float: left;
        width: 25%;
        @include media(xl) {
            width: 50%;
        }
        @include media(md) {
            width: 100%;
        }
    }
    &__carousel {
        padding: 15px 7px;
        max-width: 288px;
        margin: auto;
        &__item {
            height: 356px;
            border-radius: 10px;
            background-color: #ffffff;

            img {
                height: 216px;
                width: 100%;
                max-width: 100%;
            }
            &__name {
                color: #000000;
                font-size: 24px;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: 0.24px;
                text-align: center;
                margin: 26px auto 30px;
            }
            &__block-link {
                text-align: right;
                padding-right: 18px;
                position: relative;
                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 12px;
                    width: 106px;
                    height: 2px;
                    border-radius: 1px;
                    background-color: #f6c647;
                    vertical-align: middle;

                }
                a {
                    font-weight: 600;
                    font-style: italic;
                    letter-spacing: 0.16px;
                    vertical-align: baseline;
                    display: inline-block;
                    background-color: #fff;
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 15px;
                        height: 2px;
                        background-color: #000;
                        vertical-align: middle;
                    }
                    &:after {
                        content: '';
                        display: inline-block;
                        width: 15px;
                        height: 2px;
                        background-color: #000;
                        vertical-align: middle;
                    }
                    span {
                        vertical-align: middle;
                        margin: 0 10px;
                    }
                }

            }
        }
        .random__arrows {
            margin-top: -80px;
        }
        .slick-list {
            box-shadow: 0px 10px 30px 0px #aaa;
            border-radius: 10px;
        }
    }
    &_4 {
        position: relative;
        margin: 66px 0 80px;
        &__carousel {
            &:before,
            &:after {
                content: '';
                display: block;
                top: 50%;
                position: absolute;
                z-index: 1;
                width: 500px;
                height: 2px;
                background: #f6d34b;
            }
            &:before {
                left: -550px;
            }
            &:after {
                right: -550px;
            }
            &__item {
                background-color: transparent;

                img {
                    height: 200px;
                }
                &__wrap {
                    height: 356px;
                    margin: auto;
                    width: 250px;
                    border-radius: 10px;
                    background-color: #fff;
                    box-shadow: 0px 10px 15px 0px #aaa;
                }
            }
        }
        .slick-list {
            height: 380px;
            background-color: transparent;
        }
    }
}

.arrows--prev {
    left: -40px;
}

.arrows--next {
    right: -40px;
}

@include media(sm) {
    .arrows--prev {
        left: -20px;
    }
    .arrows--next {
        right: -20px;
    }
}
