.icon {
    > * {
        width: 18px;
        height: 18px;
        display: inline-block;
        background-repeat: no-repeat;
    }
    &__like {
        background-image: url(../images/icons/like.png);
        width: 34px;
        height: 32px;
    }
    &__star {
        background-image: url(../images/icons/star.png);
        width: 33px;
        height: 33px;
    }
}


.svg {
    width: 18px;
    height: auto;
    fill: currentColor;
    vertical-align: text-bottom;
    position: relative;}
