.element {
    &__title__h1 {
        font-size: 45px;
        font-weight: 800;
        line-height: 53px;
        margin-bottom: 20px;
        text-align: center;
        color: #ffc928;
    }
    &__description {}
}

.h1-product-page {
    margin: 15px auto 34px;
    color: #292929;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

.h1 {
    color: #ffc928;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    &_mt-35 {
        margin-top: 35px;
        @include media(md) {
            margin-top: 100px;
        }

    }

}

.h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    &_about-company {
        @extend .h2;
        margin: 47px auto 30px;
        &_center {
            text-align: center;
        }
        &_mt {
            margin-top: 0;
        }
    }
    &_mb-25 {
        margin-bottom: 25px;
    }
    &_one-recipe {
        margin-bottom: 20px;
        font-weight: 600;
    }
    &_catalog {
        @extend .h2;
        margin-bottom: 35px;
    }
    &_catalog-popular {
        position: absolute;
        top: -110px;
        @include media(lg) {
            position: static;
            padding-top: 30px;
        }
    }
}

.h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.24px;
    &_about-company {
        @extend .h3;
        &_center {
            text-align: center;
            height: 50px;
            margin-top: 95px;
            margin-bottom: 15px;
            @include media(lg) {
                margin: 30px auto 10px;
            }
        }
    }

}

.p {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.text-direct {
    @extend .p;
    margin-bottom: 90px;
}
