.tm-carousel {
    text-align: center;
    &__title {
        margin: 58px auto 55px;
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
    }
    &__carousel {
        margin: 30px auto 60px;
        &__item {
            padding: 14px 0;
            height: 100px;
        }
        .arrows {
            width: 42px;
            height: 42px;
            position: absolute;
            left: 50%;
            top: auto;
            fill: #ffc928;
            transform: translateX(-50%) rotate(90deg);
            cursor: pointer;
            &:hover {
                fill: #ce0018;
            }
        }
        .arrows--prev {
            top: -40px;
        }
        .arrows--next {
            bottom: -40px;
        }
    }
    &-horizontal {
        &_mb-120 {
            margin-bottom: 120px;
        }
        &_catalog {
            padding-top: 40px;
            margin-bottom: 140px;
        }
        &__carousel {
            padding-top: 10px;
            &:before,
            &:after {
                content: '';
                display: block;
                top: 48px;
                position: absolute;
                z-index: 1;
                width: 500px;
                height: 2px;
                background: #ffc928;
            }
            &:before {
                left: -550px;
            }
            &:after {
                right: -550px;
            }
            &__item {
                text-align: center;
            }
        }
    }
}
