.photo-product-recipe {
    &__h3 {
        color: #0a0a0a;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 17px;
        padding-left: 15px;
    }
}
