.products-block {
    padding-top: 60px;
}

.products-block__item {
    height: 375px;
    text-align: center;
    overflow: hidden;
    h3 {
        color: #0a0a0a;
        font-weight: 600;
        line-height: 24px;

    }
}

.products-block__art {
    color: #0a0a0a;
    font-size: 14px;
    font-style: italic;
    line-height: 28px;
}
