.filter {
    &_mb-30 {
        margin-bottom: 30px;
    }
    &__title {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.24px;
        font-weight: bold;
        padding-right: 40px;
        margin-bottom: 20px;
    }
    &__item {
        font-size: 18px;
        &__name {
            margin-top: 15px;
            line-height: 18px;
            font-weight: bold;
        }
        &__secect {
            .cs-placeholder {
                font-size: 18px;
            }
        }
    }
    &__button {
        margin-top: 20px;

        & .button-orange span {
            padding: 0 46px;
        }
    }
}
