.clients {
    position: relative;
    background: #fff8dd;
    padding: 110px 0 145px;
    &__title {
        font-size: 45px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 43px
    }
    &__carousel {
        &__item {
            position: relative;
            height: 95px;
            margin: auto;
            text-align: center;
        }
        &:before,
        &:after {
            content: '';
            display: block;
            top: 48px;
            position: absolute;
            z-index: 1;
            width: 500px;
            height: 2px;
            background: #ffc928;
        }
        &:before {
            left: -550px;
        }
        &:after {
            right: -550px;
        }
        &_bg {
            background-color: #fff8dd;
        }
    }
    &_about {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: transparent;
        .arrows--prev {
            left: -40px;
        }
        .arrows--next {
            right: -40px;
        }
        @include media(sm) {
            .arrows--prev {
                left: -20px;
            }
            .arrows--next {
                right: -20px;
            }
        }
    }
}

.clients-page-product {
    padding: 75px 0 100px;
    background: transparent;
    .clients__title {
        font-size: 40px;
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 992px) {

    .arrows--next {
        right: -20px;
    }
    .arrows--prev {
        left: -20px;
    }
}
